In [137]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [138]:
# Mapping lets you format an entire DataFrame
file = "output_data.csv"
file_df = pd.read_csv(file)
file_df.head()

,Unnamed: 0,City,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City datetime
0,0,Rimbey,52.63,-114.24,23.00,73,75,12.75,CA,1602912233
1,1,Ocampo,21.65,-101.50,51.21,86,72,16.51,MX,1602912233
2,2,Havre-St-Pierre,50.23,-63.60,46.40,87,90,13.87,CA,1602912234
3,3,Manokwari,-0.87,134.08,85.01,67,100,4.92,ID,1602912234
4,4,Jamestown,42.10,-79.24,32.00,87,1,5.82,US,1602912234

In [139]:
file_df.dropna

<bound method DataFrame.dropna of      Unnamed: 0             City  City latitude  City longitude  \
0             0           Rimbey          52.63         -114.24
1             1           Ocampo          21.65         -101.50
2             2  Havre-St-Pierre          50.23          -63.60
3             3        Manokwari          -0.87          134.08
4             4        Jamestown          42.10          -79.24
..          ...              ...            ...             ...
688         688         Kamalpur          24.20           91.83
689         689       Matveyevka          52.15           56.18
690         690          Bintulu           3.17          113.03
691         691         Ust-Nera          64.57          143.20
692         692        Nīlēshwar          12.25           75.10

     Max temperature  Humidity  Cloud coverage  Wind speed City country  \
0              23.00        73              75       12.75           CA
1              51.21        86              72       16.51           MX
2              46.40        87              90       13.87           CA
3              85.01        67             100        4.92           ID
4              32.00        87               1        5.82           US
..               ...       ...             ...         ...          ...
688            93.20        63              40        2.24           IN
689            55.40        66              40       11.18           RU
690            91.40        66              40        2.24           MY
691            17.11        88             100        7.18           RU
692            84.20        89              20        3.36           IN

     City datetime
0       1602912233
1       1602912233
2       1602912234
3       1602912234
4       1602912234
..             ...
688     1602912463
689     1602912464
690     1602912464
691     1602912464
692     1602912465

[693 rows x 10 columns]>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [140]:
# Configure gmaps with API key
gmaps.configure(api_key="AIzaSyDSlI5PMBZ6zRURqRuy0FpUh0yPW_Ft624")

In [141]:
# Store 'Lat' and 'Lng' into  locations 
locations = file_df[["City latitude", "City longitude"]]

#Define humidity as weight
humidity_rate = file_df["Humidity"]

In [142]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [143]:
#Filter for vacation temperatures
vacation_temp=file_df[(file_df['Max temperature']>70)&(file_df['Max temperature']<80)]
vacation_temp.head()

,Unnamed: 0,City,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City datetime
6,6,Rikitea,-23.12,-134.97,74.03,82,100,20.67,PF,1602912235
11,11,Carnarvon,-24.87,113.63,77.00,65,0,18.34,AU,1602912236
16,16,Saint-Philippe,-21.36,55.77,78.80,65,2,9.17,RE,1602912238
38,38,Geraldton,-28.77,114.60,78.80,31,90,18.34,AU,1602912246
42,42,Iranshahr,27.20,60.68,77.00,9,0,9.17,IR,1602912248

In [144]:
#Filter for vacation wind speeds
vacation_windspeed=vacation_temp[vacation_temp['Wind speed']<10]  
vacation_windspeed.head()

,Unnamed: 0,City,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City datetime
16,16,Saint-Philippe,-21.36,55.77,78.80,65,2,9.17,RE,1602912238
42,42,Iranshahr,27.20,60.68,77.00,9,0,9.17,IR,1602912248
43,43,Tsabong,-26.02,22.40,77.61,23,0,8.43,BW,1602912248
55,55,Barra,-11.09,-43.14,77.14,43,11,7.87,BR,1602912252
56,56,Hilo,19.73,-155.09,78.80,78,1,7.92,US,1602912252

In [145]:
#Filter for vacation cloudiness
vacation_cloudiness=vacation_windspeed[vacation_windspeed['Cloud coverage']==0]
vacation_cloudiness.head()

,Unnamed: 0,City,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City datetime
42,42,Iranshahr,27.20,60.68,77.00,9,0,9.17,IR,1602912248
43,43,Tsabong,-26.02,22.40,77.61,23,0,8.43,BW,1602912248
74,74,Busselton,-33.65,115.33,73.99,33,0,1.03,AU,1602912258
189,189,Khorramshahr,30.44,48.17,78.80,41,0,6.93,IR,1602912297
205,205,Warmbad,-28.45,18.73,70.54,23,0,3.24,NaN,1602912302

In [146]:
#Check the number is below or equal to 10
len(vacation_cloudiness)

10

In [147]:
#Input columns to new data frame 
city1=vacation_cloudiness['City']
country1=vacation_cloudiness['City country']
latitude1=vacation_cloudiness['City latitude']
longitude1=vacation_cloudiness['City longitude']

In [148]:
# create a data frame for hotel stays
hotel = {
    "City": city1,
    "Country": country1,
    "Latitude": latitude1,
    "Longitude": longitude1
}
hotel_df= pd.DataFrame(hotel)
hotel_df

             City Country  Latitude  Longitude
42      Iranshahr      IR     27.20      60.68
43        Tsabong      BW    -26.02      22.40
74      Busselton      AU    -33.65     115.33
189  Khorramshahr      IR     30.44      48.17
205       Warmbad     NaN    -28.45      18.73
299     Bethanien     NaN    -26.50      17.16
458        Viedma      AR    -40.81     -63.00
576        Riyadh      SA     24.69      46.72
645       Baghdad      IQ     33.34      44.40
668     Morondava      MG    -20.28      44.28

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [149]:
#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"]=""

In [157]:
# geocoordinates
target_coordinates = "51.0447, -114.0666"
target_type = "hotel"
target_radius = 5000


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius":target_radius,
    "type": target_type,    
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
hotel1= response.json()
print(hotel1['results'])

[]

In [152]:
# geocoordinates
target_coordinates = "24.69, 46.72"
target_search = "hotel"
target_radius = 5000


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,    
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
hotel2= response.json()
print(hotel2['results'][0])

IndexError: list index out of range

In [153]:
# find the closest hotel of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "27.20,60.68",  # philadelphia coords,
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

KeyError: 'ethnicity'

In [154]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: "None of [Index(['Lat', 'Lng'], dtype='object')] are in the [columns]"

In [155]:
# Add marker layer ontop of heat map


# Display figure